<div class="grow hidden sm:ml-6 sm:flex sm:justify-end sm:space-x-2">
      
      @for (link of navLinks(); track link.path) {
        
        <button
          mat-button
          [routerLink]="link.path"
          routerLinkActive="!bg-blue-100 !text-blue-800 font-bold"
          [routerLinkActiveOptions]="{ exact: true }"
          
          [matMenuTriggerFor]="link.subLinks ? dropdownMenu : null" 
          (click)="setActiveSubLinks(link.subLinks)" 
          
          class="text-gray-600 hover:bg-blue-50 hover:text-blue-700 rounded-lg text-lg font-medium py-3 px-3"
        >
          {{ link.title }}
          @if (link.subLinks) {
            <mat-icon class="ml-1 text-sm">arrow_drop_down</mat-icon>
          }
        </button>
        
        }
    </div>

    <mat-menu #dropdownMenu="matMenu">
        @for (subLink of activeSubLinks(); track subLink.path) {
            <a
                mat-menu-item
                [routerLink]="subLink.path"
                routerLinkActive="bg-blue-100 text-blue-800 font-bold"
                class="text-gray-700 hover:bg-blue-50 hover:text-blue-700"
            >
                {{ subLink.title }}
            </a>
        }
    </mat-menu>