name: Build and Deploy LeetCode Compodoc Docs

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install Dependencies
        run: |
          npm install 
          cd frontend
          npm install

      - name: Build Compodoc Docs (Erstellt den Ordner 'frontend/compodoc-leetcode-build')
        run: npm run docs:build
        working-directory: ./frontend
        
      - name: Deploy Compodoc to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_TECHTHOR_DOCS }}' 
          channelId: live
          target: compodoc-leetcode-api
          projectId: techthor-docs
