name: Build Compodoc LeetCode API Docs

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install Dependencies (Root & Frontend)
        run: |
          npm install
          cd frontend
          npm install

      - name: Build Compodoc Docs
        run: npm run docs:build
        working-directory: ./frontend

      - name: Upload Compodoc build as artifact
        uses: actions/upload-artifact@v4
        with:
          name: compodoc-leetcode-api
          path: frontend/dist   # hier dein Build-Ordner, nicht index.html
